<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 카카오톡 앱 설치 여부 확인 (Android 11+ 패키지 가시성) -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".SlogApplication"
        android:allowBackup="true"
        android:label="슬로그"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오톡으로 로그인 후 앱으로 돌아오는 경로 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirect_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
